<!DOCTYPE html>
<html>
  <head>
    <title>RAMEN</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>RAMEN</h1>
    <p>Rest API Mongo Express Node</p>
  </body>
</html>
